#partelog{
    background-color: rgb(82, 201, 42) ;
}
#imgcabe{
    display: block;
    margin: auto;
}
p{
   column-count: 2; 
}
h1,h2{
    text-align: center;
}
#imagen1{
    width: 80%;

}
#formulario{
    background-color: rgb(169, 169, 169);
    position: absolute;  
    padding: 20px 30px 40px 30px;   /* margen con valores: arriba - derecha - abajo - izquierda */ 
    width: 550px;
    left: 50%;
    margin-left: -280px; 
}
.labe{
    text-align: center;
}
input,select{
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-right: 20px;
    border-radius: 15px;
    margin: 8px;
    box-sizing: border-box;
}
